// /* Montserrat Regular */
// @font-face {
//   font-family: 'Montserrat';
//   src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
//        url('assets/fonts/Montserrat-Regular.woff') format('woff'),
//        url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// /* Montserrat Medium */
// @font-face {
//   font-family: 'Montserrat';
//   src: url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
//        url('assets/fonts/Montserrat-Medium.woff') format('woff'),
//        url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// /* Montserrat SemiBold */
// @font-face {
//   font-family: 'Montserrat';
//   src: url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
//        url('assets/fonts/Montserrat-SemiBold.woff') format('woff'),
//        url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// /* Montserrat Bold */
// @font-face {
//   font-family: 'Montserrat';
//   src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
//        url('assets/fonts/Montserrat-Bold.woff') format('woff'),
//        url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// /* Montserrat ExtraBold */
// @font-face {
//   font-family: 'Montserrat';
//   src: url('assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
//        url('assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
//        url('assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// /* Montserrat Black */
// @font-face {
//   font-family: 'Montserrat';
//   src: url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
//        url('assets/fonts/Montserrat-Black.woff') format('woff'),
//        url('assets/fonts/Montserrat-Black.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

:root{
    --main-bg: #EAF9FF;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --accent-color: #00BBFF;
    --accent-hover: #0caee8;
    --main-color: #003363;
    --blue-dark: #001640;
    --grey-color: #616161;
    --grey-dark: #3C3C3C;
    --grey-light: #EEEEEE;
    --green: #008414;
    --red: #FC4349;
}
/* ============================
   RESET.CSS — современный сброс стилей
   ============================ */

/* Базовые сбросы */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем стандартные отступы и наследуем шрифт */
html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Сброс изображений и медиа */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Наследуем шрифт для форм */
input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Убираем подчеркивание у ссылок по умолчанию */
a {
  text-decoration: none;
  color: inherit;
}

/* Сброс списков */
ul, ol {
  list-style: none;
}

/* Таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Кнопки */
button {
  cursor: pointer;
  background: none;
  border: none;
}

/* Текстовые элементы */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Корректное поведение root-элементов в React/Vue/Svelte */
#root, #__next {
  isolation: isolate;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.75rem, calc(0.64rem + 0.43vw), 1.13rem);
    line-height: 1.5;
}
h1{
    font-size: clamp(1.88rem, calc(1.08rem + 2.95vw), 4.63rem);
    font-weight: 900;
    span{
        font-size: clamp(0.81rem, calc(0.47rem + 1.28vw), 2rem);
        display: block;
    }
}
h2{
    font-size: clamp(2rem, calc(1.66rem + 1.28vw), 3.13rem);
    line-height: 120%;
    font-weight: 700;
}
h3{
    font-size: clamp(1rem, calc(0.73rem + 0.99vw), 1.88rem);
    margin-bottom: 15px;
}
h4{
    font-size: clamp(0.88rem, calc(0.68rem + 0.71vw), 1.5rem);
    line-height: 140%;
}
p:not(:last-child){
    margin-bottom: clamp(0.94rem, calc(0.65rem + 1.06vw), 1.88rem);
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
main{
    flex: 1;
    background-color: var(--main-bg);
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 clamp(1rem, calc(0.7rem + 1.5vw), 2.5rem);
}
.swiper-button-disabled{
    background-color: var(--grey-color) !important;
    opacity: 0.2;
    cursor: default !important;
}
.site-logo{
    width: clamp(8.13rem, calc(6.22rem + 7.09vw), 14.38rem);
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
.social-block{
    ul{
        display: flex !important;
        flex-direction: row !important;
        margin-top: auto;
        gap: clamp(0.38rem, calc(0.34rem + 0.14vw), 0.5rem);
        li{
            width: max-content !important;
            a{
                width: clamp(2.5rem, calc(2.27rem + 0.85vw), 3.25rem) !important;
                height: clamp(2.5rem, calc(2.27rem + 0.85vw), 3.25rem) !important;
                background-color: var(--white-color);
                border-radius: 50%;
                display: flex !important;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.search{
    position: relative;
    input[type="button"], input[type="submit"]{
        position: relative;
        width: 25px;
        height: 25px;
        background-image: url('../img/icons/search.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
        z-index: 2;
    }
    input[type="text"]{
        position: absolute;
        height: 50px;
        width: 353px;
        background-color: #B5EBFF;
        top: 50%;
        transform: translateY(-50%);
        right: 39px;
        padding: 12px 20px;
        display: none;
        color: rgba(0, 15, 99, 1);
        &::placeholder{
            color: rgba(0, 15, 99, 0.49);
            opacity: 1;
            font-size: 18px;
            font-weight: 500;
        }
    }
    input[type="submit"]{
        display: none;
    }
    &.active{
        input[type="text"]{
            display: block;
        }
        input[type="button"]{
            display: none;
        }
        input[type="submit"]{
        display: block;
    }
    }
}
.subtitle{
    font-size: clamp(0.88rem, calc(0.68rem + 0.71vw), 1.5rem);
    font-weight: 600;
    line-height: 140%;
}
.section-title{
    text-align: center;
    margin-top: clamp(5rem, calc(4.62rem + 1.42vw), 6.25rem);
    h2{
        color: var(--main-color);
        margin-bottom: clamp(0.81rem, calc(0.77rem + 0.14vw), 0.94rem);
    }
    .subtitle{
        color: var(--grey-color);
        font-size: clamp(1rem, calc(0.85rem + 0.57vw), 1.5rem);
        margin-bottom: clamp(1.88rem, calc(1.68rem + 0.71vw), 2.5rem);
    }
}


.lang{
    position: relative;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    padding-right: 30px;
    margin-right: 50px;
    cursor: pointer;
}
.lang::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 15px;
    background-image: url('data:image/svg+xml,<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12L0.339746 0.75L17.6603 0.750002L9 12Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
// ======== BUTTON =============
.btn{
    display: inline-block;
    padding: clamp(0.94rem, calc(0.8rem + 0.5vw), 1.38rem) clamp(1rem, calc(0.81rem + 0.71vw), 1.63rem);
    background-color: var(--accent-color);
    color: var(--white-color);
    font-size: clamp(0.69rem, calc(0.59rem + 0.35vw), 1rem);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 6px;
    width: fit-content;
    transition: background-color 0.3s ease;
    cursor: pointer;
    &:hover{
        background-color: var(--accent-hover);
    }
}

// ========= SLIDER BTNS ============

.slider{
    &__btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        width: clamp(2.88rem, calc(2.34rem + 1.99vw), 4.63rem);
        height: clamp(2.88rem, calc(2.34rem + 1.99vw), 4.63rem);
        border-radius: 50%;
        border: 1px solid var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        position: absolute;
        left: 0px;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
            &--next{
            right: 0;
            left: auto;
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &__pagination{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        span{
            width: clamp(2.5rem, calc(2.1rem + 1.49vw), 3.81rem);
            height: clamp(0.44rem, calc(0.36rem + 0.28vw), 0.69rem);
            border-radius: 0;
            clip-path: polygon(0 0, 90% 0%, 100% 100%, 10% 100%);
            margin-left: -3px !important;
        }
    }
}

// ======== Карточка бассейна =======
.pool-card{
    position: relative;
    width: clamp(24.13rem, calc(19.8rem + 16.1vw), 38.31rem);
    // height: clamp(28.38rem, calc(23.3rem + 18.87vw), 45rem);
    overflow: visible;
    &__wrapper{
        clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
        background-color: var(--grey-light);
    }
    &__rating--shadow{
        position: absolute;
        top: 8px;
        right: 20px;
        width: 130px;
        height: 40px;
        background-color: var(--black-color);
        z-index: 2;
        -webkit-transform: skew(-13deg);
	    -moz-transform: skew(-13deg);
	    -o-transform: skew(-13deg);
        filter: blur(18px) opacity(0.35);
    }
    &__rating{
        padding: 18px 31px;
        background-color: var(--accent-color);
        color: var(--white-color);
        width: fit-content;
        font-size: clamp(0.94rem, calc(0.77rem + 0.64vw), 1.5rem);
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 11px;
        position: absolute;
        top: 0px;
        right: 20px;
        transform: translateY(-16px);
        z-index: 2;
        clip-path: polygon(13% 0, 100% 0%, 87% 100%, 0% 100%);
    }
    &__img{
        position: relative;
        height: clamp(17.5rem, calc(14.36rem + 11.7vw), 27.81rem);
        color: var(--white-color);
        img{
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(50%);
        }
        &--name{
            position: absolute;
            bottom: 72px;
            left: 66px;
            font-size: clamp(1.25rem, calc(1.02rem + 0.85vw), 2rem);
            font-weight: 800;
        }
        &--price{
            position: absolute;
            bottom: 15px;
            left: 66px;
            font-size: clamp(1.25rem, calc(1.02rem + 0.85vw), 2rem);
            font-weight: 600;
        }
        &--status{
            position: absolute;
            right: 66px;
            bottom: 15px;
            font-size: 14px;
            padding: 8px 9px 8px 13px;
            background-color: var(--green);
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1.5px;  
        }

    }
    &.open &__img--status{
            background-color: var(--green);
        }
    &.close &__img--status{
            background-color: var(--red);
        }
    &__info{
        display: flex;
        justify-content: center;
        gap: 8%;
        padding: 21px 0;
        font-size: clamp(0.63rem, calc(0.51rem + 0.44vw), 0.88rem);
        font-weight: 700;
        background-color: var(--white-color);
        transform: translateX(-4%);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        margin-left: 4%;
        &--size{
            position: relative;
            padding-top: 46px;
            &::after{
                position: absolute;
                content: '';
                width: 35px;
                height: 35px;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url('data:image/svg+xml,<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46 9.32558V19.9302C46 20.2818 45.8603 20.619 45.6117 20.8676C45.3632 21.1162 45.026 21.2558 44.6744 21.2558C44.3229 21.2558 43.9857 21.1162 43.7371 20.8676C43.4885 20.619 43.3488 20.2818 43.3488 19.9302V12.5247L33.2391 22.6344C32.9878 22.8686 32.6554 22.996 32.312 22.99C31.9686 22.9839 31.6409 22.8448 31.3981 22.6019C31.1552 22.3591 31.0161 22.0314 31.01 21.688C31.004 21.3446 31.1314 21.0122 31.3656 20.7609L41.4753 10.6512H34.0698C33.7182 10.6512 33.381 10.5115 33.1324 10.2629C32.8838 10.0143 32.7442 9.67715 32.7442 9.32558C32.7442 8.97402 32.8838 8.63685 33.1324 8.38825C33.381 8.13966 33.7182 8 34.0698 8H44.6744C45.026 8 45.3632 8.13966 45.6117 8.38825C45.8603 8.63685 46 8.97402 46 9.32558ZM20.7609 31.3656L10.6512 41.4753V34.0698C10.6512 33.7182 10.5115 33.381 10.2629 33.1324C10.0143 32.8838 9.67715 32.7442 9.32558 32.7442C8.97402 32.7442 8.63685 32.8838 8.38825 33.1324C8.13966 33.381 8 33.7182 8 34.0698V44.6744C8 45.026 8.13966 45.3632 8.38825 45.6117C8.63685 45.8603 8.97402 46 9.32558 46H19.9302C20.2818 46 20.619 45.8603 20.8676 45.6117C21.1162 45.3632 21.2558 45.026 21.2558 44.6744C21.2558 44.3229 21.1162 43.9857 20.8676 43.7371C20.619 43.4885 20.2818 43.3488 19.9302 43.3488H12.5247L22.6344 33.2391C22.8686 32.9878 22.996 32.6554 22.99 32.312C22.9839 31.9686 22.8448 31.6409 22.6019 31.3981C22.3591 31.1552 22.0314 31.0161 21.688 31.01C21.3446 31.004 21.0122 31.1314 20.7609 31.3656ZM44.6744 32.7442C44.3229 32.7442 43.9857 32.8838 43.7371 33.1324C43.4885 33.381 43.3488 33.7182 43.3488 34.0698V41.4753L33.2391 31.3656C32.9878 31.1314 32.6554 31.004 32.312 31.01C31.9686 31.0161 31.6409 31.1552 31.3981 31.3981C31.1552 31.6409 31.0161 31.9686 31.01 32.312C31.004 32.6554 31.1314 32.9878 31.3656 33.2391L41.4753 43.3488H34.0698C33.7182 43.3488 33.381 43.4885 33.1324 43.7371C32.8838 43.9857 32.7442 44.3229 32.7442 44.6744C32.7442 45.026 32.8838 45.3632 33.1324 45.6117C33.381 45.8603 33.7182 46 34.0698 46H44.6744C45.026 46 45.3632 45.8603 45.6117 45.6117C45.8603 45.3632 46 45.026 46 44.6744V34.0698C46 33.7182 45.8603 33.381 45.6117 33.1324C45.3632 32.8838 45.026 32.7442 44.6744 32.7442ZM12.5247 10.6512H19.9302C20.2818 10.6512 20.619 10.5115 20.8676 10.2629C21.1162 10.0143 21.2558 9.67715 21.2558 9.32558C21.2558 8.97402 21.1162 8.63685 20.8676 8.38825C20.619 8.13966 20.2818 8 19.9302 8H9.32558C8.97402 8 8.63685 8.13966 8.38825 8.38825C8.13966 8.63685 8 8.97402 8 9.32558V19.9302C8 20.2818 8.13966 20.619 8.38825 20.8676C8.63685 21.1162 8.97402 21.2558 9.32558 21.2558C9.67715 21.2558 10.0143 21.1162 10.2629 20.8676C10.5115 20.619 10.6512 20.2818 10.6512 19.9302V12.5247L20.7609 22.6344C21.0122 22.8686 21.3446 22.996 21.688 22.99C22.0314 22.9839 22.3591 22.8448 22.6019 22.6019C22.8448 22.3591 22.9839 22.0314 22.99 21.688C22.996 21.3446 22.8686 21.0122 22.6344 20.7609L12.5247 10.6512Z" fill="%23A5A6A6"/></svg>');
            }
        }
        &--items{
            position: relative;
            padding-top: 46px;
            &::after{
                position: absolute;
                content: '';
                width: 35px;
                height: 35px;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-image: url('data:image/svg+xml,<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7647 29.9921C18.0923 29.9921 18.4065 29.8619 18.6382 29.6303C18.8699 29.3986 19 29.0844 19 28.7568V25.5882H33V29.1479C33 29.4756 33.1301 29.7898 33.3618 30.0214C33.5935 30.2531 33.9077 30.3832 34.2353 30.3832C34.5629 30.3832 34.8771 30.2531 35.1088 30.0214C35.3404 29.7898 35.4706 29.4756 35.4706 29.1479V6.23529C35.4706 5.90767 35.3404 5.59347 35.1088 5.36181C34.8771 5.13015 34.5629 5 34.2353 5C33.9077 5 33.5935 5.13015 33.3618 5.36181C33.1301 5.59347 33 5.90767 33 6.23529V9.94118H19V6.23529C19 5.90767 18.8699 5.59347 18.6382 5.36181C18.4065 5.13015 18.0923 5 17.7647 5C17.4371 5 17.1229 5.13015 16.8912 5.36181C16.6596 5.59347 16.5294 5.90767 16.5294 6.23529V28.7568C16.5294 29.0844 16.6596 29.3986 16.8912 29.6303C17.1229 29.8619 17.4371 29.9921 17.7647 29.9921ZM19 23.1176V19H33V23.1176H19ZM33 12.4118V16.5294H19V12.4118H33ZM5 34.2353C5 33.9077 5.13015 33.5935 5.36181 33.3618C5.59347 33.1301 5.90767 33 6.23529 33C9.08059 33 10.5588 33.9862 11.8621 34.8529C13.0212 35.625 14.0197 36.2941 16.1176 36.2941C18.2156 36.2941 19.2059 35.6271 20.3732 34.8529C21.6765 33.9841 23.1547 33 25.9979 33C28.8412 33 30.3215 33.9862 31.6247 34.8529C32.7838 35.625 33.7844 36.2941 35.8824 36.2941C37.9803 36.2941 38.9706 35.6271 40.1379 34.8529C41.4412 33.9841 42.9194 33 45.7647 33C46.0923 33 46.4065 33.1301 46.6382 33.3618C46.8699 33.5935 47 33.9077 47 34.2353C47 34.5629 46.8699 34.8771 46.6382 35.1088C46.4065 35.3404 46.0923 35.4706 45.7647 35.4706C43.6688 35.4706 42.6765 36.1376 41.5091 36.9118C40.2038 37.7806 38.7256 38.7647 35.8824 38.7647C33.0391 38.7647 31.5588 37.7785 30.2556 36.9118C29.0965 36.1397 28.0959 35.4706 25.9979 35.4706C23.9 35.4706 22.9097 36.1376 21.7424 36.9118C20.4391 37.7806 18.9609 38.7647 16.1176 38.7647C13.2744 38.7647 11.7941 37.7785 10.4909 36.9118C9.32353 36.1376 8.33118 35.4706 6.23529 35.4706C5.90767 35.4706 5.59347 35.3404 5.36181 35.1088C5.13015 34.8771 5 34.5629 5 34.2353ZM47 42.4706C47 42.7982 46.8699 43.1124 46.6382 43.3441C46.4065 43.5757 46.0923 43.7059 45.7647 43.7059C43.6688 43.7059 42.6765 44.3729 41.5091 45.1471C40.2038 46.0159 38.7256 47 35.8824 47C33.0391 47 31.5588 46.0138 30.2556 45.1471C29.0965 44.375 28.0959 43.7059 25.9979 43.7059C23.9 43.7059 22.9097 44.3729 21.7424 45.1471C20.4391 46.0159 18.9609 47 16.1176 47C13.2744 47 11.7941 46.0138 10.4909 45.1471C9.32353 44.3729 8.33118 43.7059 6.23529 43.7059C5.90767 43.7059 5.59347 43.5757 5.36181 43.3441C5.13015 43.1124 5 42.7982 5 42.4706C5 42.143 5.13015 41.8288 5.36181 41.5971C5.59347 41.3654 5.90767 41.2353 6.23529 41.2353C9.08059 41.2353 10.5588 42.2215 11.8621 43.0882C13.0212 43.8603 14.0197 44.5294 16.1176 44.5294C18.2156 44.5294 19.2059 43.8624 20.3732 43.0882C21.6765 42.2194 23.1547 41.2353 25.9979 41.2353C28.8412 41.2353 30.3215 42.2215 31.6247 43.0882C32.7838 43.8603 33.7844 44.5294 35.8824 44.5294C37.9803 44.5294 38.9706 43.8624 40.1379 43.0882C41.4412 42.2194 42.9194 41.2353 45.7647 41.2353C46.0923 41.2353 46.4065 41.3654 46.6382 41.5971C46.8699 41.8288 47 42.143 47 42.4706Z" fill="%23A5A6A6"/></svg>');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        &--depth{
            position: relative;
            padding-top: 46px;
            &::after{
                position: absolute;
                content: '';
                width: 35px;
                height: 35px;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-image: url('data:image/svg+xml,<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.4301 30C37.7225 30 39.0575 30.6852 39.9704 31.2576C40.4481 31.5571 40.856 31.8547 41.1442 32.0779C41.2886 32.1898 41.4043 32.284 41.4854 32.3513C41.5258 32.3849 41.5577 32.4123 41.5803 32.4316C41.5916 32.4413 41.6005 32.4498 41.607 32.4555C41.6102 32.4582 41.6129 32.4603 41.6149 32.462C41.6159 32.4629 41.6172 32.4636 41.6179 32.4642L41.6189 32.4653H41.6199C42.0566 32.8486 42.1275 33.5486 41.7781 34.0278C41.4287 34.507 40.7908 34.5836 40.3541 34.2003L40.3521 34.1992C40.3489 34.1965 40.343 34.1917 40.3353 34.1851C40.3198 34.1719 40.2955 34.1513 40.2631 34.1243C40.1978 34.0702 40.0997 33.9907 39.9753 33.8943C39.7256 33.7009 39.3739 33.4429 38.9656 33.1868C38.1064 32.6481 37.1629 32.2222 36.4301 32.2222C35.2066 32.2222 34.2815 32.7656 33.1241 33.4711C32.0031 34.1545 30.6496 35 28.8352 35C27.2412 35 25.9797 34.1114 24.9676 33.4581C23.8954 32.7661 22.9662 32.2222 21.7467 32.2222C20.5469 32.2222 19.7559 32.7448 18.7394 33.4418C17.7307 34.1336 16.4962 35 14.6582 35C12.7836 35 11.6214 34.1224 10.6926 33.4115C9.77101 32.7059 9.13542 32.2222 8.07597 32.2222C7.32137 32.2222 6.2425 32.6649 5.23779 33.2161C4.76044 33.478 4.34069 33.741 4.04022 33.9388C3.89051 34.0374 3.77152 34.1192 3.69113 34.1753C3.65096 34.2034 3.6199 34.2252 3.60015 34.2394C3.59062 34.2462 3.58373 34.2514 3.57938 34.2546L3.48544 34.3164C3.03181 34.5798 2.461 34.4283 2.17018 33.9497C1.85996 33.4391 1.98569 32.7492 2.45103 32.4089H2.45202L2.45499 32.4056C2.45715 32.404 2.46027 32.4017 2.46389 32.3991C2.47111 32.3939 2.48173 32.3866 2.49455 32.3774C2.52024 32.359 2.55677 32.3329 2.60333 32.3003C2.69696 32.235 2.8313 32.1431 2.9979 32.0334C3.33032 31.8146 3.79672 31.5219 4.33194 31.2283C5.35253 30.6684 6.80527 30 8.07597 30C9.8436 30 10.959 30.9052 11.8516 31.5885C12.7372 32.2665 13.4528 32.7778 14.6582 32.7778C15.858 32.7778 16.649 32.2552 17.6654 31.5582C18.6741 30.8664 19.9087 30 21.7467 30C23.565 30 24.9145 30.8451 25.9941 31.5419C27.1338 32.2775 27.8977 32.7778 28.8352 32.7778C30.0587 32.7778 30.9838 32.2344 32.1411 31.5289C33.2622 30.8455 34.6156 30 36.4301 30Z" fill="%23A6A6A5"/><path d="M36.4301 36C37.7225 36 39.0575 36.6852 39.9704 37.2576C40.4481 37.5571 40.856 37.8547 41.1442 38.0779C41.2886 38.1898 41.4043 38.284 41.4854 38.3513C41.5258 38.3849 41.5577 38.4123 41.5803 38.4316C41.5916 38.4413 41.6005 38.4498 41.607 38.4555C41.6102 38.4582 41.6129 38.4603 41.6149 38.462C41.6159 38.4629 41.6172 38.4636 41.6179 38.4642L41.6189 38.4653H41.6199C42.0566 38.8486 42.1275 39.5486 41.7781 40.0278C41.4287 40.507 40.7908 40.5836 40.3541 40.2003L40.3521 40.1992C40.3489 40.1965 40.343 40.1917 40.3353 40.1851C40.3198 40.1719 40.2955 40.1513 40.2631 40.1243C40.1978 40.0702 40.0997 39.9907 39.9753 39.8943C39.7256 39.7009 39.3739 39.4429 38.9656 39.1868C38.1064 38.6481 37.1629 38.2222 36.4301 38.2222C35.2066 38.2222 34.2815 38.7656 33.1241 39.4711C32.0031 40.1545 30.6496 41 28.8352 41C27.2412 41 25.9797 40.1114 24.9676 39.4581C23.8954 38.7661 22.9662 38.2222 21.7467 38.2222C20.5469 38.2222 19.7559 38.7448 18.7394 39.4418C17.7307 40.1336 16.4962 41 14.6582 41C12.7836 41 11.6214 40.1224 10.6926 39.4115C9.77101 38.7059 9.13542 38.2222 8.07597 38.2222C7.32137 38.2222 6.2425 38.6649 5.23779 39.2161C4.76044 39.478 4.34069 39.741 4.04022 39.9388C3.89051 40.0374 3.77152 40.1192 3.69113 40.1753C3.65096 40.2034 3.6199 40.2252 3.60015 40.2394C3.59062 40.2462 3.58373 40.2514 3.57938 40.2546L3.48544 40.3164C3.03181 40.5798 2.461 40.4283 2.17018 39.9497C1.85996 39.4391 1.98569 38.7492 2.45103 38.4089H2.45202L2.45499 38.4056C2.45715 38.404 2.46027 38.4017 2.46389 38.3991C2.47111 38.3939 2.48173 38.3866 2.49455 38.3774C2.52024 38.359 2.55677 38.3329 2.60333 38.3003C2.69696 38.235 2.8313 38.1431 2.9979 38.0334C3.33032 37.8146 3.79672 37.5219 4.33194 37.2283C5.35253 36.6684 6.80527 36 8.07597 36C9.8436 36 10.959 36.9052 11.8516 37.5885C12.7372 38.2665 13.4528 38.7778 14.6582 38.7778C15.858 38.7778 16.649 38.2552 17.6654 37.5582C18.6741 36.8664 19.9087 36 21.7467 36C23.565 36 24.9145 36.8451 25.9941 37.5419C27.1338 38.2775 27.8977 38.7778 28.8352 38.7778C30.0587 38.7778 30.9838 38.2344 32.1411 37.5289C33.2622 36.8455 34.6156 36 36.4301 36Z" fill="%23A6A6A5"/><path d="M29.7073 18.9287C30.0977 19.3191 30.0975 19.9522 29.7073 20.3428L23.343 26.707C22.9525 27.0976 22.3195 27.0976 21.9289 26.707L15.5647 20.3428C15.1744 19.9522 15.1743 19.3191 15.5647 18.9287C15.9551 18.5383 16.5882 18.5385 16.9787 18.9287L21.636 23.5859V6C21.636 5.44772 22.0837 5 22.636 5C23.1883 5 23.636 5.44772 23.636 6V23.5859L28.2932 18.9287C28.6837 18.5385 29.3168 18.5383 29.7073 18.9287Z" fill="%23A6A6A5"/></svg>');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        &--tracks{
            position: relative;
            padding-top: 46px;
    &::after{
        position: absolute;
        content: '';
        width: 35px;
        height: 35px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('data:image/svg+xml,<svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 2C6.55228 2 7 2.44772 7 3V30C7 30.5523 6.55228 31 6 31C5.44772 31 5 30.5523 5 30V3C5 2.44772 5.44772 2 6 2ZM19 2C19.5523 2 20 2.44772 20 3V30C20 30.5523 19.5523 31 19 31C18.4477 31 18 30.5523 18 30V3C18 2.44772 18.4477 2 19 2ZM32 2C32.5523 2 33 2.44772 33 3V30C33 30.5523 32.5523 31 32 31C31.4477 31 31 30.5523 31 30V3C31 2.44772 31.4477 2 32 2ZM10.5 22C11.0523 22 11.5 22.4477 11.5 23C11.5 23.5523 11.0523 24 10.5 24C9.94772 24 9.5 23.5523 9.5 23C9.5 22.4477 9.94772 22 10.5 22ZM14.5 22C15.0523 22 15.5 22.4477 15.5 23C15.5 23.5523 15.0523 24 14.5 24C13.9477 24 13.5 23.5523 13.5 23C13.5 22.4477 13.9477 22 14.5 22ZM23.5 22C24.0523 22 24.5 22.4477 24.5 23C24.5 23.5523 24.0523 24 23.5 24C22.9477 24 22.5 23.5523 22.5 23C22.5 22.4477 22.9477 22 23.5 22ZM27.5 22C28.0523 22 28.5 22.4477 28.5 23C28.5 23.5523 28.0523 24 27.5 24C26.9477 24 26.5 23.5523 26.5 23C26.5 22.4477 26.9477 22 27.5 22ZM10.5 15C11.0523 15 11.5 15.4477 11.5 16C11.5 16.5523 11.0523 17 10.5 17C9.94772 17 9.5 16.5523 9.5 16C9.5 15.4477 9.94772 15 10.5 15ZM14.5 15C15.0523 15 15.5 15.4477 15.5 16C15.5 16.5523 15.0523 17 14.5 17C13.9477 17 13.5 16.5523 13.5 16C13.5 15.4477 13.9477 15 14.5 15ZM23.5 15C24.0523 15 24.5 15.4477 24.5 16C24.5 16.5523 24.0523 17 23.5 17C22.9477 17 22.5 16.5523 22.5 16C22.5 15.4477 22.9477 15 23.5 15ZM27.5 15C28.0523 15 28.5 15.4477 28.5 16C28.5 16.5523 28.0523 17 27.5 17C26.9477 17 26.5 16.5523 26.5 16C26.5 15.4477 26.9477 15 27.5 15ZM10.5 8C11.0523 8 11.5 8.44772 11.5 9C11.5 9.55228 11.0523 10 10.5 10C9.94772 10 9.5 9.55228 9.5 9C9.5 8.44772 9.94772 8 10.5 8ZM14.5 8C15.0523 8 15.5 8.44772 15.5 9C15.5 9.55228 15.0523 10 14.5 10C13.9477 10 13.5 9.55228 13.5 9C13.5 8.44772 13.9477 8 14.5 8ZM23.5 8C24.0523 8 24.5 8.44772 24.5 9C24.5 9.55228 24.0523 10 23.5 10C22.9477 10 22.5 9.55228 22.5 9C22.5 8.44772 22.9477 8 23.5 8ZM27.5 8C28.0523 8 28.5 8.44772 28.5 9C28.5 9.55228 28.0523 10 27.5 10C26.9477 10 26.5 9.55228 26.5 9C26.5 8.44772 26.9477 8 27.5 8Z" fill="%23A6A6A5"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }            
        }
    }
    &__address{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 3px;
        background-color: var(--white-color);
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        &--inner{
            padding: 22px 0px 22px 52px;
            max-width: 153px;
            box-sizing: content-box;
        }
        &--heart{
            padding-left: 32px;
            padding-right: 84px;
            position: relative;
            display: flex;
            align-items: center;
            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                background-color: var(--grey-light);
                transform: rotate(6deg);
            }
        }
        &--str{
            padding-left: 14px;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 8px;
                height: 10px;
                top: 3px;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url('data:image/svg+xml,<svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.56581 0.107971C3.56295 0.109163 2.60149 0.527051 1.89236 1.26996C1.18323 2.01286 0.784341 3.02012 0.783203 4.07074C0.783203 7.46162 4.22194 10.0226 4.36851 10.1297C4.42633 10.1722 4.49522 10.1949 4.56581 10.1949C4.63641 10.1949 4.70529 10.1722 4.76311 10.1297C4.90968 10.0226 8.34842 7.46162 8.34842 4.07074C8.34728 3.02012 7.94839 2.01286 7.23926 1.26996C6.53013 0.527051 5.56867 0.109163 4.56581 0.107971ZM4.56581 2.62974C4.83786 2.62974 5.1038 2.71425 5.32999 2.87259C5.55619 3.03093 5.73249 3.25598 5.8366 3.51929C5.94071 3.7826 5.96795 4.07234 5.91488 4.35187C5.8618 4.6314 5.7308 4.88816 5.53843 5.08969C5.34607 5.29122 5.10098 5.42846 4.83416 5.48406C4.56734 5.53966 4.29077 5.51113 4.03943 5.40206C3.78809 5.29299 3.57327 5.1083 3.42213 4.87132C3.27099 4.63435 3.19032 4.35575 3.19032 4.07074C3.19032 3.68856 3.33524 3.32204 3.59319 3.0518C3.85115 2.78156 4.20101 2.62974 4.56581 2.62974Z" fill="%23003363"/></svg>');
            }
        }
        &--name{
            padding-left: 12px;
            position: relative;
            margin-left: 4px;
            &::after{
                position: absolute;
                content: '';
                width: 9px;
                height: 9px;
                top: 3px;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url('data:image/svg+xml,<svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.39258 4.49927L0.773014 8.32108L0.773014 0.677463L7.39258 4.49927Z" fill="%23003363"/></svg>');
            }
        }
    }
    #pool-card__no-favorites{
        width: 42px !important;
        height: 36px !important;
        display: block;
    }
    #pool-card__favorites{
        width: 42px !important;
        height: 36px !important;
        display: none;
    }
    &.favorites{
        #pool-card__no-favorites{
            display: none;
        }
        #pool-card__favorites{
            display: block;
        }
    }
    &__services{
        height: 67px;
        background-color: var(--white-color);
        margin-top: 3px;
        &--items{
            position: relative;
            width: 82%;
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: -53px;
            margin-left: clamp(1rem, calc(-0.05rem + 1.41vw), 1.56rem);
            z-index: 2;
        }
        &--item{
            width: 17%;
            height: 67px;
            background-color: var(--main-color);
            clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
        }
    }
    &__shadow{
        position: absolute;
        bottom: 16px;
        left: 0;
        width: 90%;
        height: 240px;
        background-color: #000000;
        filter: blur(16px);
        transform: skew(-5deg);
        margin-left: 8px;
        opacity: 0.5;
    }
}
// ==================================
// ======== HEADER =============

.header{
    color: #fff;
    padding: 40px 0;
    overflow: hidden;
    &__button{
        display: none;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 25px;
        z-index: 2;
        position: relative;
        cursor: pointer;
        span{
            display: block;
            width: 28px;
            height: 5px;
            background-color: var(--accent-color);
            margin: auto;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--white-color);
            top: 0;
            left: 0;
            right: 0;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--white-color);
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-size: clamp(1.33rem, calc(1.21rem + 0.47vw), 1.77rem);
        font-weight: 900;
    }
    &__nav{
        ul{
            display: flex;
            align-items: center;
            gap: 34px;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    &__close{
        display: none;
    }
    &__right{
        display: flex;
        align-items: center;
        }
    &__added{
            display: none;
        }
    &__social{
            display: none;
        }
}
.front-page .header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
@media (max-width: 1080px) {
    .header{
        overflow: visible;
        padding: 26px 0;
        position: static;
        &__wrapper{
            position: static;
        }
        &__nav{
            display: none;
            transition: all 0.3s;
        }
        &__close{
            display: inline-block;
            cursor: pointer;
        }
        &__button{
            display: flex;
        }
        &__logo{
            width: 206px;
            margin-right: auto;
            margin-left: 20px;
        }
        .lang {
            margin-right: 20px;
            margin-left: 12px;
            font-size: 20px;
            padding-right: 25px;
            &::after{
                width: 17px;
                height: 12px;
            }
        }
        .search {
            position: static;
            input[type="text"]{
            top: 80px;
            left: 0;
            right: 0;
            width: 100%;
            transform: translateY(0);
            }
        }
    }
    &.open {
        .header {
            &__nav {
                display: flex;
                flex-direction: column;
                position: fixed;
                background-color: rgba(0, 51, 99, 0.53);
                backdrop-filter: blur(8px);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100vh;
                z-index: 99;
                padding: 27px 16px 40px;
                ul{
                    margin-top: 50px;
                    flex-direction: column;
                    align-items: start;
                    gap: 0;
                    max-width: 327px;
                    border-top: 1px solid var(--white-color);
                    li {
                        padding: 22px 0;
                        border-bottom: 1px solid var(--white-color);
                        width: 100%;
                        a {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }
            &__added{
                display: block;
                margin-top: 64px;
            }
            &__social{
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                display: block;
                width: max-content;
                ul {
                    display: flex;
                        border: none;
                        padding: 0;
                        margin: 0;
                        gap: 6px;
                    li{
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }
    .wrapper{
        position: relative;
    }
}

// ======= HERO =============
.hero{
    position: relative;
    min-height: 100vh;
    width: 100%;
    aspect-ratio: 1.78 / 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 25px;
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        picture{
            height: 100%;
            width: 100%;
            position: relative;
            img {
                object-fit: cover;
                height: 100%;
                width: auto;
            }
        }
    }
    &__offer{
        display: block;
        padding: 65px 40px;
        background-color: rgba(0, 86, 118, 0.41);
        backdrop-filter: blur(35px);
        &--title{
            text-transform: uppercase;
        }
        .subtitle{
            max-width: 770px;
            margin-top: 39px;
            margin-bottom: 39px;
        }
        &--btn{
            position: relative;
            padding-right: 61px;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 26px;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                background-image: url('../img/icons/search.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &__bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--black-color);
        padding: 10px 0;
        font-size: clamp(0.75rem, calc(0.67rem + 0.28vw), 1rem);
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width: 865px) {
    .hero {
        overflow: hidden;
        display: block;
        min-height: auto;
        height: 100vh;
        aspect-ratio: auto;
        &__offer{
            margin-top: 130px;
            padding: 27px 10px;
            .subtitle{
                margin-top: clamp(1rem, calc(-0.42rem + 5.29vw), 2.44rem);
                margin-bottom: clamp(1rem, calc(-0.42rem + 5.29vw), 2.44rem);
            }
        }
        &__background{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            picture{
                img {
                    object-position: center top;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        
    }
}
@media (max-width: 430px){
    .hero__offer{
        margin-top: clamp(5.13rem, calc(-16.18rem + 90.91vw), 8.25rem);
    }
}
.cat-slider{
    position: relative;
    &__btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        border-radius: 50%;
        border: 1px solid var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
    }
    &__next{
        right: 0;
        left: auto;
        transform: translateY(-50%) rotate(180deg);
    }

    &__wrapper{
        display: flex;
    }
    &__item{
        position: relative;
        display: block;
        height: clamp(12.5rem, calc(10.1rem + 8.94vw), 20.38rem);
        width: clamp(14rem, calc(11.31rem + 10vw), 22.81rem);
        clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
        img{
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }
        &--name{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: clamp(3.31rem, calc(2.68rem + 2.34vw), 5.38rem);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333333;
            z-index: 2;
            border-top: 3px solid var(--white-color);
            font-size: clamp(1rem, calc(0.85rem + 0.57vw), 1.5rem);
            font-weight: 600;
            color: var(--white-color);
            transition: all 0.3s;
        }
        &.swiper-slide-blur{
            .cat-slider__item--name{
                height: 0;
            }
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                backdrop-filter: blur(6.8px);
                z-index: 3;
            }
        }

    }
}

// ========== REGIONS ==========
.regions{
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        column-gap: clamp(0.63rem, calc(0.05rem + 2.13vw), 2.5rem);
        row-gap: 20px;
    }
    &__item {
        display: block;
        text-align: center;
        max-width: clamp(11.25rem, calc(8.33rem + 10.85vw), 20.81rem);
        width: 100%;
        min-height: clamp(9.38rem, calc(7.18rem + 8.16vw), 16.56rem);
        &--img{
            position: relative;
            color: var(--white-color);
            width: 100%;
            aspect-ratio: 2 / 1;
            overflow: hidden;
            img{
                position: absolute;
                z-index: 0;
                transition: all 0.5s ease-out;
            }
            &:hover{
            img{
                transform: scale(1.05);
            }
        }
        }
        &--info{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(0.5rem, calc(0.35rem + 0.57vw), 1rem);
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
        &--letter{
            font-size: clamp(1.75rem, calc(1.33rem + 1.56vw), 3.13rem);
            font-weight: 700;
            text-transform: uppercase;
        }
        &--current{
            font-size: clamp(1.75rem, calc(1.33rem + 1.56vw), 3.13rem);
            font-weight: 500;
            width: clamp(3.56rem, calc(2.74rem + 3.05vw), 6.25rem);
            height: clamp(3.56rem, calc(2.74rem + 3.05vw), 6.25rem);
            border: clamp(0.13rem, calc(0.09rem + 0.14vw), 0.25rem) solid var(--white-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--title{
            margin-top: clamp(0.69rem, calc(0.52rem + 0.64vw), 1.25rem);
            color: var(--main-color);
        }
        &--subtitle{
            color: var(--grey-dark);
            font-size: clamp(0.75rem, calc(0.6rem + 0.57vw), 1.25rem);
            font-weight: 500;
        }

    }
}
.popular{
    overflow: hidden;
    padding-bottom: 36px;
    .popular-slider{
        overflow: visible;
        &__btns{
            position: absolute;
            width: 100%;
            top: 65%;
        }
    }
}

.blog{
    margin-bottom: clamp(0rem, calc(-1.91rem + 7.09vw), 6.25rem);
    .blog-slider{
        padding: 0 30px;
        margin-bottom: clamp(5rem, calc(4.62rem + 1.42vw), 6.25rem);
        .swiper-wrapper{
            align-items: stretch;
        }
        .blog-slide{
            height: auto;
        }
        &__btns {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 2;
        }
        &__btn{
            z-index: 3;
        }
        &__pagination{
            margin-top: clamp(1.88rem, calc(1.49rem + 1.42vw), 3.13rem);
        }
    }
    &__content{
    color: var(--blue-dark);
    max-height: 227px;
    overflow-y: scroll;
    padding-bottom: 60px;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        width: calc(100% - clamp(1rem, calc(0.7rem + 1.5vw), 2.5rem) - clamp(1rem, calc(0.7rem + 1.5vw), 2.5rem));
        max-width: 1920px;
        margin: 0 auto;
        background: linear-gradient(0deg,rgba(234, 249, 255, 1) 0%, rgba(234, 249, 255, 0) 100%);
        z-index: 2;
    }
    }
    position: relative;
}
.blog-slide{
    position: relative;
    h4{
        color: var(--main-color);
        margin-bottom: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &__label{
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 10px;
        background-color: var(--accent-color);
        color: var(--white-color);
        font-size: 16px;
        font-weight: 800;
    }
    &__inner{
        padding: 26px 35px 21px 25px;
        background-color: var(--white-color);
    }
    &__data{
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: var(--main-color);
        &--time{
            font-size: 16px;
            font-weight: 500;
        }
        &--author{
            font-size: 16px;
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
    }
    &__permalink{
        display: block;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 26px;
        color: var(--main-color);
    }
}
@media (max-width: 510px) {
    .blog .blog-slider{
        width: calc(100% + 32px);
        margin-left: -16px;
    }
    .blog-slide__inner{
        padding: 16px 20px 12px;
    }
    .blog .blog-slider .blog-slide__inner p {
        font-size: 12px;
    }
    .blog-slide__data--time, .blog-slide__data--author{
        font-size: 12px;
    }
}

.reviews{
    overflow: hidden;
    &__slider{
        padding: 0 clamp(0rem, calc(-0.57rem + 2.13vw), 1.88rem);
        overflow: visible;
        &--btns{
            width: 100%;
        }
        &--btn{
            top: 60%;
            transform: translateY(-50%);
        }
        &--next{
            right: 0;
            left: auto;
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &__slide{
        min-height: clamp(22.5rem, calc(19.53rem + 11.06vw), 32.25rem);
    }
    .reviews-slide{
        background-color: #E0F7FF;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 15px rgba(97, 97, 97, 0.25);
        &__header{
            background-color: var(--main-color);
            color: var(--white-color);
            display: flex;
            align-items: center;
            padding: 17px 28px;
            &--author{
                margin-right: clamp(1.38rem, calc(1.03rem + 1.28vw), 2.5rem);
            }
            &--author-rating{
                position: relative;
                width: max-content;
                    &::before{
                        display: block;
                        content: '★★★★★';
                        width: max-content;
                        font-size: 32px;
                        letter-spacing: 2px;
                    }
                span{
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                        &::before{
                            position: absolute;
                            content: '★★★★★';
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            color: #FFBC03;
                            font-size: 32px;
                            letter-spacing: 2px;
                        }
                    }
            }
            &--author-name{
                font-size: clamp(1rem, calc(0.85rem + 0.57vw), 1.5rem);
                font-weight: 700;
            }
            &--pool{
                display: flex;
                align-items: center;
                gap: clamp(0.75rem, calc(0.5rem + 0.92vw), 1.56rem);
            }
            &--pool-img{
                width: clamp(3.75rem, calc(3.48rem + 0.99vw), 4.63rem);
                height: clamp(3.75rem, calc(3.48rem + 0.99vw), 4.63rem);
                border-radius: clamp(0.31rem, calc(0.29rem + 0.07vw), 0.38rem);
                border: 1px solid var(--white-color);
                aspect-ratio: 1 / 1;
                overflow: hidden;
                flex-shrink: 0;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &--pool-info{
                &-name{
                    font-size: clamp(0.88rem, calc(0.76rem + 0.43vw), 1.25rem);
                    font-weight: 600;
                    color: #C9C7C7;
                    margin-bottom: 8px;
                    span{
                        color: var(--white-color);
                        margin-left: 10px;
                    }
                }
                &-link{
                    color: var(--accent-color);
                    font-weight: 700;
                    transition: all 0.3s;
                    cursor: pointer;
                    display: inline-block;
                    &:hover{
                        color: var(--white-color);
                    }
                }
            }
        }
        &__content{
            padding: clamp(1.5rem, calc(1.27rem + 0.85vw), 2.25rem) clamp(1rem, calc(0.81rem + 0.71vw), 1.63rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            flex: auto;
            &--text{
                font-size: clamp(0.69rem, calc(0.59rem + 0.35vw), 1rem);
                font-weight: 500;
            }
            &--galery{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 13px;
            }
            &--link{
                margin-top: auto;
                flex-shrink: 1;
                font-size: clamp(0.88rem, calc(0.76rem + 0.43vw), 1.25rem);
                font-weight: 700;
                color: var(--blue-dark);
                text-transform: uppercase;
                text-align: center;
                transition: all 0.3s;
                &:hover{
                    color: var(--main-color);
                }
            }
        }
    }
}
.partners{
    margin-bottom: clamp(5rem, calc(4.62rem + 1.42vw), 6.25rem);
    &__slider{
        .swiper-slide{
            display: flex;
            align-items: center;
            height: auto;
            width: max-content;
        }
    }
}
@media (max-width: 560px) {
    .partners{
    &__slider{
        .swiper-slide{
            width: 45%; 
        }
    }
}
}
.footer{
    background-image: url(../img/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-color: var(--main-bg);
    min-height: 582px;
    height: auto;
    padding-top: 206px;
    color: var(--white-color);
    display: flex;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__nav{
        max-width: 295px;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        flex-shrink: 0;
        ul{
            margin-top: 40px;
            columns: 2;
            li{
                margin-bottom: 19px;
                a{
                    padding-right: 16px;
                    position: relative;
                    &::after{
                        content: '🢒';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-30%);
                        scale: 2;
                    }
                }
                    &.current-menu-item{
                      a::after{
                        content: '';
                    }  
                }
            }
        }
    }
    &__added{
        margin-left: 20px;
        margin-right: clamp(2.5rem, calc(-3.98rem + 9.61vw), 7.06rem);
        .btn{
            padding-left: clamp(3.06rem, calc(2.62rem + 1.63vw), 4.5rem);
            padding-right: clamp(3.06rem, calc(2.62rem + 1.63vw), 4.5rem);
        }
    }
    &__social{
        flex-shrink: 1;
        margin-top: auto;
        margin-bottom: -14px;
        ul{
            margin-top: auto;
            gap: clamp(0.38rem, calc(0.34rem + 0.14vw), 0.5rem);

        }
    }
    &__cities-mobile{
        display: none;
        margin-bottom: 57px;
        li{
            padding-left: 24px;
            position: relative;
            font-size: clamp(0.75rem, calc(0.67rem + 0.28vw), 1rem);
            margin-bottom: 8px;
            &::after{
                content: '•';
                position: absolute;
                left: 10px;
                top: -2px;
                font-size: clamp(0.75rem, calc(0.67rem + 0.28vw), 1rem);
            }
        }
    }
    &__cities {
        margin-top: clamp(1.94rem, calc(1.33rem + 2.27vw), 3.94rem);
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                padding-left: 24px;
                position: relative;
                font-size: clamp(0.75rem, calc(0.67rem + 0.28vw), 1rem);
                &::after{
                    content: '•';
                    position: absolute;
                    left: 10px;
                    top: -2px;
                    font-size: clamp(0.75rem, calc(0.67rem + 0.28vw), 1rem);
                }
            }
        }
    }
    &__police{
        padding: 14px 0;
        // margin-top: 26px;
        margin-top: auto;
        border-top: 1px solid var(--white-color);
        ul{
            display: flex;
            gap: 42px;
            font-size: clamp(0.75rem, calc(0.71rem + 0.14vw), 0.88rem);
        }
    }
}
@media (max-width: 864px) {
    .footer{
        background-position: 12% 0;
        padding-top: 420px;
        margin-top: -240px;
        &__wrapper{
            flex-direction: column;
        }
        &__cities{
            display: none;
        }
        &__cities-mobile{
            display: block;
            columns: 2;
            margin-top: 30px;
        }
        &__added{
            text-align: center;
        }
        &__police{
            ul{
                justify-content: space-between;
                gap: 12px;
            }
        }
        &__social{
            margin-bottom: 24px;
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
        }
        &__logo{
            width: 275px;
        }
    }
    
}